@import "tailwindcss";

@theme {
  --color-primary: #3A6B5E;
  --color-primary-dark: #2A4F45;
  --color-secondary: #8FB39A;
  --color-accent: #A48F79;
  --color-background: #E5E0D0;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}