__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle

venv/
.env/
.venv/

*.env

.ipynb_checkpoints/
*.ipynb_checkpoints

build/
dist/
*.egg-info/
*.egg

.DS_Store
Thumbs.db

*.log

.cache/
.mypy_cache/
.pytest_cache/
__temp__/

.vscode/
.idea/
*.swp

checkpoints/
*.pt
*.ckpt
*.h5
*.joblib
*.npz

data/
*.csv
*.tsv
*.pdb
*.fasta

node_modules/
npm-debug.log
*.log
.next/
out/
